@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

:root {
	--box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	--body-background: #6e54f5;
	--container-background:#ebe7ff;
	--dark-color: #000;
	--light-color: #fff;
	--income-color: #2ecc71;
	--expense-color: #c0392b;
	--history-text-color: #333;
	--border-color: #bbb;
}

* { box-sizing: border-box; }

body {
	min-height: 100vh;
	margin: 0;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	background-color: var(--body-background);
	font-family: 'Lato', sans-serif;
}

.container {
	width: 600px;
	padding: 20px;
	border-radius: 10px;
	margin: 30px auto;
	background-color: var(--container-background);
	transition: all 0.3s ease-in-out;
}

h1 {
	margin: 30px auto 0;
	font-size: 32px;
	color: var(--light-color);
	letter-spacing: 1px;
}

h2 {
	margin: 0;
	font-size: 16px;
	text-transform: uppercase;
}

h3 {
	padding-bottom: 10px;
	border-bottom: 1px solid var(--border-color);
	margin: 40px 0 10px;
}

h4 {
	margin: 0;
	text-transform: uppercase;
}

.inc-exp-container {
	padding: 20px;
	margin: 20px 0;
	display: flex;
	justify-content: space-between;
	background-color: var(--light-color);
	box-shadow: var(--box-shadow);
}

.inc-exp-container>div {
	flex: 1;
	text-align: center;
}

.inc-exp-container>div:first-of-type { border-right: 1px solid var(--border-color); }

.balance {
	padding: 0;
	border-bottom: none;
	margin: 0;
	font-size: 32px;
	letter-spacing: 1px;
}

.balance::before {
	margin-right: 5px;
	font-family: "Font Awesome 5 Free"; 
	font-weight: 900; 
	content: "\f555";
}

.money {
	margin: 5px 0;
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 1px;
}

.money.plus { color: var(--income-color); }
.money.minus { color: var(--expense-color); }

label {
	margin: 10px 0;
	display: inline-block;
}

input[type='text'],
input[type='number'] {
	width: 100%;
	padding: 10px;
	border: 1px solid var(--border-color);
	border-radius: 2px;
	display: block;
	font-size: 16px;
}

input[type='text']:focus,
input[type='number']:focus {
	border: 1px solid var(--border-color);
	outline: none;
}

.btn {
	width: 100%;
	padding: 10px;
	border: 0;
	margin: 10px 0 30px;
	display: block;
	background-color: var(--body-background);
	box-shadow: var(--box-shadow);
	color: var(--light-color);
	cursor: pointer;
	font-size: 16px;
}

.btn:focus,
.delete-btn:focus { 
	border: none;
	outline: 0; 
}

.list {
	padding: 0;
	margin-bottom: 40px;
	list-style-type: none;
}

.list li {
	padding: 10px;
	margin: 10px 0;
	display: flex;
	justify-content: space-between;
	position: relative;
	background-color: var(--light-color);
	box-shadow: var(--box-shadow);
	color: var(--history-text-color);
}

.list li.plus { border-right: 5px solid var(--income-color); }
.list li.minus { border-right: 5px solid var(--expense-color); }

.delete-btn {
	padding: 2px 5px;
	cursor: pointer;
	border: 0;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translate(-100%, -50%);
	font-size: 20px;
	background-color: var(--expense-color);
	color: var(--light-color);
	opacity: 0;
	line-height: 20px;
	transition: opacity 0.3s ease;
}

.list li:hover .delete-btn { opacity: 1; }

.print-btn {
	padding: 5px 10px;
	border: none;
	outline: none;
	border-radius: 25px;
	font-size: 12px;
	background-color: var(--body-background);
	color: var(--light-color);
	cursor: pointer;
}

/* Responsive Styling */

@media screen and (max-width:995px) {
	.container { width: 450px; }
}

@media screen and (max-width:480px) {
	.container { width: 300px; }
}

@media print {
	@page { margin: 30px; }

	body { 
		align-items: start;
		justify-content: flex-start;
	}

	.print-hide,
	#form { display: none; }

	h1 {
		color: var(--dark-color); 
		text-align: center;
	}

	.inc-exp-container {
		box-shadow: unset;
    border: 1px solid var(--border-color);
	}

	.list li {
		box-shadow: unset;
    border: 1px solid var(--border-color);
		color: var(--dark-color);
	}

	li.plus:before { content: '(CR)'; }
	li.minus:before { content: '(DR)'; }
}