/*Importing Google Font*/
@import url('https://fonts.googleapis.com/css?family=Poppins:wght@200;400&display=swap');

@font-face {
    font-family: Poppins;
    src: url('../fonts/Poppins/Poppins-Regular.ttf');
}

/* #ffa36b */

:root {
    --primary-color: #b383e2;
    --font-color: #444;
	--light-font-color: #b6b6b6;
	--placeholder-font-color: #e6cffd;
	--list-border-color: #e5e5e5;
	--text-background-color: #fff;
    --body-background: #f5f5f5;
    --box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }

  [data-theme="light"] {
	--primary-color: #b383e2;
    --font-color: #444;
	--light-font-color: #b6b6b6;
	--placeholder-font-color: #d4acfc;
	--list-border-color: #e5e5e5;
	--text-background-color: #fff;
    --body-background: #f5f5f5;
    --box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }

  [data-theme="dark"] {
	--primary-color: #faaf17;
    --font-color: #fff;
	--light-font-color: #6d6d6d;
	--placeholder-font-color: #fae295; /* #f8cd77; */
	--list-border-color: #2b2b2b;
	--text-background-color: #000;
    --body-background: #1b1b1b;
    --box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1);
  }

* { box-sizing: border-box; }

body {
	min-height: 100vh;
	margin: 0;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	color: var(--font-color);
	background-color: var(--body-background);
	font-family: Poppins, sans-serif;
}

.wrapper {
	max-width: 1400px;
	margin: 0 auto;
}

h1 {
	color: var(--primary-color);
	font-size: 52px;
	opacity: 0.8;
	text-align: center;
}

.todo-icon:hover { cursor: pointer; }

img {
    width: 100%;
    display: block;
}

form {
	width: 400px;
	max-width: 100%;
	margin: 0 auto;
	box-shadow: var(--box-shadow);
}

.input {
	width: 100%;
	padding: 10px 12px;
	border: none;
	display: block;
	background-color: var(--text-background-color);
	color: var(--font-color);
	font-size: 18px;
	line-height: 1.6;
}

.input::placeholder { color: var(--placeholder-font-color); }
.input:focus { outline-color: var(--primary-color); }

.todos {
	margin: 0;
	padding: 0;
	background-color: #fff;
	list-style-type: none;
}

.todos li {
	padding: 10px 12px;
	border-top: 1px solid var(--list-border-color);
	background-color: var(--text-background-color);
	cursor: pointer;
	font-size: 18px;
}

.todos li.completed {
	color: var(--light-font-color);
	text-decoration: line-through;
}

.instructions {
	margin-top: 20px;
	color: #b5b5b5;
	font-size: 16px;
	text-align: center;
}

.instructions span { line-height: 1.6; }
.instructions .mobile { display: none; }

.developer-info {
    max-width: 100px;
    margin: 20px auto 20px;
    text-align: center;
  }
  
.developer-info a { 
	display: block; 
	/* To prevent highlight color */
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.developer-info img { pointer-events: none;}

@media screen and (max-width: 995px) {
	.wrapper { width: 90%; }
	.instructions .desktop { display: none; }
	.instructions .mobile { display: block; }
}

@media screen and (max-width: 480px) {
	.wrapper { width: 80%; }
	h1 { font-size: 32px; }
	.input { font-size: 16px; }
	.todos li { font-size: 16px; }
	.instructions { font-size: 14px; }
}