body {
    background: #DECBA4;
}

.calculator { background: #2d3b42; }

.calculator-display {
    border: 20px solid #2d3b42;
    background: #add37f;
    color: #718b54;
}

.equal-sign { background: #808080; }

@media screen and (max-width: 480px) {
    .calculator-display { border: 15px solid #2d3b42; }
}