/* Importing Fonts */

@font-face {
  font-family: SpartanLight;
  src: url('../fonts/Spartan/Spartan-Light.ttf');
}

@font-face {
  font-family: Spartan;
  src: url('../fonts/Spartan/Spartan-Medium.ttf');
}

@font-face {
  font-family: SpartanBold;
  src: url('../fonts/Spartan/Spartan-Bold.ttf');
}

* { 
  box-sizing: border-box; 
  /* To prevent highlight color */
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Custom Scrollbar */
::-webkit-scrollbar { width: 5px; height: 7px; }
::-webkit-scrollbar-track { background: #f1f1f1; }
::-webkit-scrollbar-thumb { background: #001401; border-radius: 25px;}
::-webkit-scrollbar-thumb:hover { background: #1f8600; }

body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000;
  font-family: Spartan, sans-serif;
  font-size: 12px;
}

.player-container {
  width: 800px;
  min-height: 300px;
  border-radius: 20px;
  padding: 40px;
  background: #e7e7e7;
  box-shadow: 0 15px 30px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-container {
  width: 250px;
  margin: 25px;
  transition: all 0.3s ease-in-out;
}

.player-section { width: 500px; }

.img-container img {
  height: 100%;
  width: 100%;
  box-shadow: 0 5px 30px 5px rgba(0, 0, 0, 0.5);
  object-fit: cover;
  pointer-events: none;
}

h2 {
  margin: 20px;
  font-size: 24px;
  line-height: 1.4;
  text-align: center;
  transition: all 0.3s ease-in-out;
  font-family: SpartanBold, sans-serif;
  font-weight: 700;
  user-select:text;
}

h3 {
  width: 90%;
  margin: 0 auto;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.6;
  text-align: center;
  transition: all 0.3s ease-in-out;
  user-select:text;
}

h3 marquee { display: block; }

/* Progress */
.progress-container {
  width: 90%;
  height: 4px;
  border-radius: 5px;
  margin: 40px auto;
  background: #fff;
  cursor: pointer;
}

.progress {
  width: 0%;
  height: 100%;
  border-radius: 5px;
  position: relative;
  background: #242323;
  transition: width 0.1s linear;
}

.progress::after {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: -3px;
  right: -5px;
  content: '';
  background-color: #242323;
}

.duration-wrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: -25px;
  font-size: 12px;
}

/* Controls */
.player-controls {
  box-sizing: border-box;
  width: 100%;  
  margin: 20px auto;
  text-align: center;
  transition: all 0.3s ease-in-out;
}

.fas {
  margin-right: 30px;
  color: rgb(129, 129, 129);
  cursor: pointer;
  font-size: 30px;
  user-select: none;
  vertical-align: middle;
}

.fas:active { transform: translateY(2px); }

.fas.fa-play-circle, 
.fas.fa-pause-circle {
  font-size: 60px;
}

.fas:last-child { margin-right: 0; }
.fas:hover { filter: brightness(70%); }

.main-button {
  position: relative;
  top: 3px;
  font-size: 40px;
}

.playlist-details {
  width: 800px;
  padding: 5px 10px;
  border: 1px solid #c5c5c5;
  border-radius: 10px;
  margin-bottom: 20px;
  color: #fff;
  font-size: 14px;
  line-height: 1.8;
  text-align: center;
  transition: all 0.3s ease-in-out;
}

.playlist-details a {
  color: #fff;
  text-decoration: none;
}

.playlist-details a:hover { color: #ccc; }
.playlist-details span { font-family: SpartanLight, sans-serif; }

.spotify-container {
  width: 100%;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.spotify-container a {
  margin: 0 auto;
  display: inline-block;
}

.spotify-container img { 
  width: 100%;
  max-width: 150px;
  margin: 0 auto;
  display: block;
}

.spotify-container .playlist-btn-link {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  transition: all 0.3s ease-in-out;
}

.spotify-container .spotify-link,
.spotify-container .spotify-link img {
  width: auto;
  height: 50px;
  transition: all 0.3s ease-in-out;
}

.spotify-container .download-link {
  width: 50px;
  height: 50px;
  padding: 0;
  margin-right: 10px;
  display: inline-block;
  font-size: 50px;
  color: #1ed760;
  vertical-align: top;
  transition: all 0.3s ease-in-out;
}

.developer-info {
  margin: 10px auto 20px;
  text-align: center;
}

.developer-info a {
  color: #fff;
  font-size: 14px;
  text-decoration: none;
}

/* Media Query for Mobile Responsive */

@media screen and (max-width:995px) {
  .player-container { 
    width: 600px; 
    padding: 20px;
    margin-top: 30px;
  }

  .playlist-details { width: 600px; }
  .playlist-details a:hover { color: #fff; }
  .fas:hover { filter: brightness(100%); }
  .developer-info { margin: 10px auto 30px }
}

@media screen and (max-width:600px) {
  .player-container { 
    width: 350px;
    display: block;
  }
  
  .player-section { width: 300px; }
  .img-container { margin: 20px auto 0; }
  .player-section { margin: 20px auto; }

  h2 { 
    margin: 30px 20px 20px;
    font-size: 20px;
  }

  h3 { font-size: 12px; }

  .playlist-details { 
    width: 100%; 
    max-width: 350px;
  }
}

@media screen and (max-width:480px) {
  .player-container { 
    width: 300px; 
    padding: 0;
  }  

  .img-container {
    width: 230px;
    height: 230px;
    margin-top: 30px;
  }

  .duration-wrapper { font-size: 10px; }

  .progress-container { width: 80%; }
  .player-controls { margin: 30px auto; }

  .playlist-details { 
    width: 100%; 
    max-width: 300px;
    font-size: 12px;
  }

  .spotify-container .playlist-btn-link {
    width: 40px;
    height: 40px;
  }

  .spotify-container .spotify-link,
  .spotify-container .spotify-link img {
    width: auto;
    height: 40px;
  }

  .spotify-container .download-link {
    width: 40px;
    height: 40px;
    font-size: 40px;
  }

  .developer-info a { font-size: 12px; }
}