body { background-color: #40e0d0; }

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
}

h2 {
  padding: 20px 0;
  color: #3d4c9e;
  font-family: sans-serif;
  font-size: 32px;
  font-weight: 700;
}

.inputdetails {
  padding: 100px 0 20px;
  text-align: center;
}

.inputdetails input[type="search"] {
  padding: 5px 10px;
  border:none;
  outline:none;
}

.inputdetails button[type="submit"] {
  padding: 5px 10px;
  border: none;
  outline:none;
  background-color: #005d5d;
  color: #fff;
  font-weight: 700;
  -webkit-transition: 0.3 linear all;
  -o-transition: 0.3 linear all;
  transition: 0.3 linear all;
}

.inputdetails button[type="submit"]:hover { background-color: #007777; }

.weatherdetails {
  box-sizing: border-box;
  padding: 20px;
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255,255,255,0.5);
}

.weather-pts {
  display: inline-block;
  vertical-align: middle;
}

.wptsimg img {
  width: 80px;
  height: 80px;
}

.weather-info { margin-bottom: 50px; }
.weather-forecast h2 { text-align: center; }

.weather-forecast span { text-align: center; }

@media screen and (max-width: 995px) {
  .inputdetails button[type="submit"]:hover {
    background-color: #005d5d;
  }
}

@media screen and (max-width: 767px) {
  .inputdetails { padding-top: 20px; }
}

@media screen and (max-width: 540px) {
  .weatherdetails { 
    width: 90%; 
    margin-bottom: 100px;
  }

  .inputdetails input[type="search"],
  .inputdetails button[type="submit"] {
    box-sizing: border-box;
    width: 90%;
    display: block;
    margin: 0 auto;
    text-align: center  ;
  }
  
  h2 { font-size: 24px; }

  .weather-forecast div { margin-bottom: 50px; }

  .weather-forecast span { display: block; }
}