@import url('https://fonts.googleapis.com/css?family=Lato');

* {
  box-sizing: border-box;
}

/* Custom Scrollbar */
::-webkit-scrollbar { width: 7px; height: 7px; }
::-webkit-scrollbar-track { background: #f1f1f1; }
::-webkit-scrollbar-thumb { background: #9000ff; border-radius: 25px;}
::-webkit-scrollbar-thumb:hover { background: #9000ff; }

body {
  background: #d6def0;
  font-family: 'Lato', sans-serif;
  min-height: 100vh;
  margin: 0;
}

h1 {
  text-align: center;
  font-weight: 700;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
}

.text-box {
  width: 90%;
  max-width: 700px;
  margin: 0 auto;
  display: block;
}

.text-box textarea {
  padding: 10px;
  width: 100%!important;
  min-height: 200px;
  font-size: 18px;
  resize: vertical;
  border-color: #ccc;
}

.text-box textarea:focus-visible {
  border-color: transparent;
  outline: none;
}

.btn-container {
  margin: 0 auto;
  text-align: center;
}

.btn {
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #000;
  border: none;
  outline: none;
  color: #fff;
  margin: 20px auto 0;
  cursor: pointer;
}

.btn.read-text-btn {
  background-color: #9000ff;
}