@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* Custom Scrollbar */
::-webkit-scrollbar { width: 5px; height: 7px; }
::-webkit-scrollbar-track { background: #f1f1f1; }
::-webkit-scrollbar-thumb { background: #001401; border-radius: 25px;}
::-webkit-scrollbar-thumb:hover { background: #1f8600; }

body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1b1b1b;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
}

.container {
  width: 600px;
  padding: 20px;
  border: 1px solid #000;
  border-radius: 10px;
  margin: 0 auto;
  background-color: #fff;
}

.spotify-music-container {
  width: 200px;
  margin: 20px auto 30px;
}

.spotify-music-container figure {
  width: 100%;
  margin: 0;
}

.spotify-music-container img {
  display: block;
  width: 100%;
}

.btn.dropdown-toggle {
  width: 150px;
  text-align: center;
}

span.caret {
  position: absolute;
  left: 90%;
  top: 45%;
}

.playlist-form .form-control {
  margin: 20px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.playlist-form .button-container {
  margin: 30px auto;
  text-align: center;
}

.playlist-form .button-container button {
  padding: 5px 10px;
  border: 2px solid #1ab26b;
  border-radius: 5px;
  background-color: #fff;
  color: #1ab26b;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  text-transform: capitalize;
  transform: 0.3s all linear;
}

.playlist-form .button-container button:hover {
  color: #fff;
  background-color: #1ab26b;
}

label {
  padding: 5px 10px;
  margin-right: 5px;
}

.playlist-form select {
  width: 100%;
  padding: 5px 10px;
  cursor: pointer;
}

.form-label {
  padding-left: 0px !important;
}

.form-control {
  border-radius: 100px;
}

.btn-success {
  background-color: #3b7d4a im !important;
  border-radius: 100px;
  border: none;
  cursor: pointer;
}

.btn-success:hover {
  background-color: #4daf64;
}

img.track {
  border: 3px solid #8a8a8a;
}

.preview-song {
  padding: 20px;
  width: 100%;
  border: 1px solid #ccc;
}

.preview-audio-single {
  width: 100%;
}

.preview-song img {
  width: 280px;
  height: 280px;
  margin: 0 auto;
  display: block;
}

.preview-song h2 {
  width: 90%;
  margin: 20px auto;
  font-size: 32px;
  text-align: center;
}

.preview-song h3 {
  width: 90%;
  margin: 20px auto;
  font-size: 22px;
  text-align: center;
}

.playlist-form {
  width: 90%;
  margin: 0 auto 30px;
}

.preview-song .playlist-link {
  padding: 5px 10px;
  border-radius: 10px;
  background-color: #000;
  color: #fff;
  margin: 20px auto;
  display: block;
  text-align: center;
  text-decoration: none;
}

.preview-song .playlist-link:hover {
  color: #fff;
  text-decoration: none;
}

@media screen and (max-width:767px) {
  .container {
    width: 80%;
    margin: 0 auto;
  }

  .song-list {
    width: 100%;
  }

  .song-detail {
    padding: 0;
  }

  .preview-song {
    margin: 30px 0;
  }

  .preview-song img {
    width: 100%;
    height: auto;
    min-width: 150px;
  }

  .preview-song h2 {
    font-size: 26px;
  }

  .preview-song h3 {
    font-size: 18px;
  }
}

@media screen and (max-width:480px) {
 
  .container { 
    width: 80%; 
    padding: 10px;
  }

  .spotify-music-container {
    width: 60%;
    min-width: 150px;
  }

  .playlist-form .form-control {
    font-size: 12px;
  }

  .playlist-form .button-container button {
    font-size: 12px;
  }

  .playlist-form .button-container button {
    color: #fff;
    background-color: #1ab26b;
  }
}