/*Importing Google Font*/
@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Permanent+Marker&family=Righteous&family=Roboto&display=swap');

/*
font-family: 'Chelsea Market', cursive;
font-family: 'Permanent Marker', cursive;
font-family: 'Righteous', cursive;
font-family: 'Roboto', sans-serif;
*/

/* Theme Colors */
:root {
    --body-background: #f5f5f5;
    --primary-color: #000;
    --secondary-color: #3e3e3e;
    --highlight-color: #d3d3d3;
}

[data-theme="light"] {
    --body-background: #f5f5f5;
    --primary-color: #000;
    --secondary-color: #3e3e3e;
    --highlight-color: #d3d3d3;
}

[data-theme="dark"] {
    --body-background: #000;
    --primary-color: #f5f5f5;
    --secondary-color: #6b6b6b;
    --highlight-color: #353535;
}

[data-theme="purple-light"] {
    --body-background: #fff;
    --primary-color: #990097;
    --secondary-color: #f705ff;
    --highlight-color: #f8b3f6;
}

[data-theme="purple-dark"] {
    --body-background: #3d1952;
    --primary-color: #fff;
    --secondary-color: #ff8afd;
    --highlight-color: #a205a8;
}

[data-theme="coffee-light"] {
    --body-background: #fff2cc;
    --primary-color: #401e11;
    --secondary-color: #b46545;
    --highlight-color: #f9aa8a;
}

[data-theme="coffee-dark"] {
    --body-background: #401e11;
    --primary-color: #fff2cc;
    --secondary-color: #b46545;
    --highlight-color: #a33002;
}

[data-theme="rose-light"] {
    --body-background: #faecec;
    --primary-color: 	#ff1452;
    --secondary-color: #f5a0a0;
    --highlight-color: #f6b7b7;
}

[data-theme="rose-dark"] {
    --body-background: #b1002f;
    --primary-color: 	#ffcccc;
    --secondary-color: #f9a6a6;
    --highlight-color: #cf2e2e;
}

[data-theme="blue-light"] {
    --body-background: #f6f6ff;
    --primary-color: 	#231497; /*#0a0054*/
    --secondary-color: #4a32fe;
    --highlight-color: #a6bbf9;
}

[data-theme="blue-dark"] {
    --body-background: #0a0054;
    --primary-color: 	#f6f6ff;
    --secondary-color: #92adfc;
    --highlight-color: #231497;
}

/* Custom Scrollbar */
::-webkit-scrollbar { width: 7px; height: 7px; }
::-webkit-scrollbar-track { background: var(--body-background); }
::-webkit-scrollbar-thumb { background: var(--secondary-color); border-radius: 25px;}
::-webkit-scrollbar-thumb:hover { background: var(--primary-color); }

body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: var(--body-background);
    color: var(--primary-color);
    font-family: 'Roboto', sans-serif;
}

.theme-select {
    border: none;
    outline: none;
    padding: 5px 10px;
    border: 1px solid var(--primary-color);
    position: absolute;
    left: 0;
    top: 0;
    background: var(--body-background);
    color: var(--primary-color);
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

section { text-align: center; }

.game-title { 
    margin: 20px 0;
    font-family: 'Righteous', cursive; 
    font-size: 50px;
}

.game-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 306px;
    margin: 20px auto;
}

.cell {
    font-family: "Permanent Market", cursive;
    width: 100px;
    height: 100px;
    box-shadow: 0 0 0 1px var(--secondary-color);
    border: 1px solid var(--secondary-color);
    cursor: pointer;
    line-height: 100px;
    font-size: 60px;
}

.winbox-highlight { background-color: var(--highlight-color); }

.game-restart {
    padding: 10px 20px;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    outline: none;
    background-color: var(--body-background);
    color: var(--primary-color);
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
    transition: all 0.2s ease-in-out;
}

.game-restart:hover { 
    border: 2px solid var(--body-background); 
    color: var(--body-background);
    background-color: var(--primary-color);
}

@media screen and (max-width:480px) {
    .game-title { 
        margin: 50px 0 20px;
        font-size: 32px; 
    }

    .game-restart { font-size: 14px; }
    
    .game-restart:hover { 
        border: 2px solid var(--primary-color);
        background-color: var(--body-background);
        color: var(--primary-color);
    }
}
