/* Importing Google Font */
@import url("https://fonts.googleapis.com/css?family=Spartan:400,700&display=swap");

html { box-sizing: border-box; }

body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Spartan, sans-serif;
  font-size: 12px;
}

.player-container {
  width: 400px;
  border-radius: 20px;
  background: #e7e7e7;
  box-shadow: 0 15px 30px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
}

.img-container {
  width: 300px;
  height: 300px;
  margin: -30px auto 30px;
  transition: all 0.3s ease-in-out;
  /* To prevent highlight color */
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.img-container img {
  height: 100%;
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 5px 30px 5px rgba(0, 0, 0, 0.5);
  object-fit: cover;
  pointer-events: none;
}

h2 {
  margin: 0;
  font-size: 24px;
  line-height: 1.6;
  text-align: center;
  transition: all 0.3s ease-in-out;
}

h3 {
  margin: 5px 0 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  text-align: center;
  transition: all 0.3s ease-in-out;
}

/* Progress */
.progress-container {
  width: 90%;
  height: 4px;
  border-radius: 5px;
  margin: 40px auto;
  background: #fff;
  cursor: pointer;
  /* To prevent highlight color */
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.progress {
  width: 0%;
  height: 100%;
  border-radius: 5px;
  background: #242323;
  transition: width 0.1s linear;
}

.duration-wrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: -25px;
  font-size: 12px;
}

/* Controls */
.player-controls {
  width: 200px;
  margin: 30px auto;
  text-align: center;
  transition: all 0.3s ease-in-out;
  /* To prevent highlight color */
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.fas {
  margin-right: 30px;
  color: rgb(129, 129, 129);
  cursor: pointer;
  font-size: 30px;
  user-select: none;
}

.fas:last-child { margin-right: 0; }
.fas:hover { filter: brightness(70%); }

.main-button {
  position: relative;
  top: 3px;
  font-size: 40px;
}

/* Media Query for Mobile Responsive */

@media screen and (max-width:480px) {
  .player-container {
    width: 300px;
    height: 450px;
  }

  .player-controls { top: 0; }

  .img-container {
    width: 230px;
    height: 230px;
    margin: -20px auto 20px;
  }

  h2 { font-size: 20px; }
  h3 { font-size: 12px; }
  .duration-wrapper { font-size: 10px; }

  .fas:hover { filter: brightness(100%); }
}
