body { background: #808080;}
.calculator { background: #454545; }

.calculator-display {
    border: 20px solid #454545;
    background: #000;
    color: #fff;
}

button {
    background: #373636;
    color: #fff;
    box-shadow: 2px 5px 3px #000;
}

button:hover { filter: brightness(120%); }

.operator {
    background: #1d1d1d;
    color: #fff;
}

.equal-sign { 
    background: #808080; 
    color: #fff; 
}

.clear {
    background: #1d1d1d;
    color: #fff;
}

@media screen and (max-width: 480px) {
    .calculator-display { border: 15px solid #454545; }
}